<!DOCTYPE html>
<html lang="en">

<head>
    <!--Site titel and Favicon-->
    <title>Tic-Tac-Toe Game</title>
</head>

<body>
    <!--Header-->
    <header>
        <h1>Tic-Tac-Toe</h1>
    </header>
    <!--Run Button-->
    <button onclick="window.location.reload()">Run Program</button>
    <!--Teriminal-->
    <div id="terminal"></div>
    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/bef058a563.js" crossorigin="anonymous"></script>
    <footer>
        <!--Social media footer-->
        <div id="social-media">
            <p class="linebreak">This website was made by Balen Nouri, you can follow my social media accounts down
                below.</p>
            <ul id="social-list" class="linebreak">
                <li>
                    <a href="https://www.instagram.com/balennouri/" target="_blank" rel="noopener"
                        aria-label="Visit My Instagram page (opens in a new tab)"><i class="fab fa-instagram"></i></a>
                </li>
                <li><a href="https://github.com/balennouri" target="_blank" rel="noopener"
                        aria-label="Visit My Github page (opens in a new tab)"><i
                            class="fa-brands fa-square-github"></i></a></li>
                <li>
                    <a href="https://se.linkedin.com/in/balen-taha-nouri-93134729b" target="_blank" rel="noopener"
                        aria-label="Visit My Linkindin page (opens in a new tab)"><i
                            class="fa-brands fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>